<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An empty screen component files.</string>
	<key>Summary</key>
	<string>An empty screen component files</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>DefaultCompletionName</key>
	<string>ScreenComponentName_RenameMe</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Screen component name:</string>
			<key>Description</key>
			<string>The name of the screen component to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>componentType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Type:</string>
			<key>Description</key>
			<string>The component type</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Screen</string>
			<key>Values</key>
			<array>
				<string>Screen</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
